<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>

<body>

   <% include nav.ejs %>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://localhost:5555/images/banner_1.png');"></div>
              <!--   <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://localhost:5555/images/banner_2.png');"></div>
               <!--  <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://localhost:5555/images/banner_3.png');"></div>
               <!--  <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div> -->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Big Business Impact from Hybrid Mobile Apps Developement
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Customer 360° and Campaign Management</h4>
                    </div>
                    <div class="panel-body">
                        <p>Increased revenue by $77M.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Advanced Fraud Protection
& Risk Management</h4>
                    </div>
                    <div class="panel-body">
                        <p>Increased revenue by $322M. Reduced fraudulent transactions by 30% </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Compliance & Regulatory Reporting</h4>
                    </div>
                    <div class="panel-body">
                        <p>Improved Regulatory reporting cycle by 60%</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Best Work Yet</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="images/p1.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="images/p2.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="images/p3.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="images/p4.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="images/p6.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="images/p9.png" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Empowering the Modern
Technology</h2>
            </div>
            <div class="col-md-6">
                <p>We use lateset technologies to build mobile apps</p>
                <ul>
                    <li><strong>Swift</strong>
                    </li>
                    <li><strong>iPhone 10.2</strong></li>
                    <li><strong>Android SDK</strong></li>
                    <li><strong>Ionic</strong></li>
                    <li><strong>React Native</strong></li>
                    <li><strong>Xamarin Studio</strong></li>
                </ul>
                <p>Depends on the application requirment we use the latest technoloies</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="images/react.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>
                <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Strong Hands on Web Technology</h2>
            </div>
            <div class="col-md-6">
                <p>We use lateset technologies to build mobile apps</p>
                <ul>
                    <li><strong>NodeJs</strong>
                    </li>
                    <li><strong>AngularJs</strong></li>
                    <li><strong>Laravel</strong></li>
                    <li><strong>Codeigniter</strong></li>
                    <li><strong>Wordpress</strong></li>
                    <li><strong>PHP</strong></li>
                </ul>
                <p>Depends on the application requirment we use the latest technoloies</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="images/node.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
