<html>
<head>
    <title>Spectrum App</title>
    <script>
        function validateForm(){
            var password = document.forms["form"]["password"].value;
            var rpassword = document.forms["form"]["rpassword"].value;
            if (password != rpassword){
                alert("Password and Confirm Password should be the same.");
                return false;
            }
        }
    </script>
</head>
<body>
<div>
    <div align="center">
        <h2>Spectrum App</h2>
        <h4>Reset Password</h4>
    </div>
    <div align="center">
        <form name="form" method="post" onsubmit="return validateForm()" >
            New Password : <input type="password" name="password" value="" autofocus=true required="true"/></br></br>
            Retype Password : <input type="password" name="rpassword" value="" required="true"/></br></br>
            <button type="submit">Update Password</button>
        </form>
    </div>
</div>
</body>
</html>