<!DOCTYPE html>
<html>
<head>
	<title>Spectrum App</title>
	<link rel="stylesheet" type="text/css" href="/css/sytle.css">
</head>
<style type="text/css">
  .img_cen
  {
    display: block;margin: auto;width: 47%;
  }
</style>

<body>
<div class="modal-dialog">
    <div class="modal-content">
     
       
         <div class="modal-header">
         <div class="img_cen">
               <img src="https://s3.amazonaws.com/spectrumapp/web_images/spectrum_300px.png">
               </div>

        </div>

     
        <div class="modal-header">
          <h2 class="text-center" style="color:#fff;font-weight: bold;">Thank you for completing the registration!
          </h2>
          <h3 class="text-center" style="color:#fff;">You can start using the app now on your iPhone/iPad
          </h3>
        </div>

        
    </div>
 </div>


</body>
</html>